# Dependency directories
node_modules/

# Environment files
.env

# Log files
*.log

# npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store       # macOS
Thumbs.db       # Windows

# IDE / Editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build output
/dist
/build

# Coverage directory used by tools like Istanbul
/coverage

# Testing folders
/tests

# Temporary files
*.bak
*.swp
*.swo

# Packages
*.tgz

# Docker
docker-compose.override.yml
.docker/

# Next.js build output
.next/

# React build output
client/build/

# Firebase emulation folder
.firebase/

# Other files you might not want to include
*.env.local
*.env.*.local

# Exclude package-lock.json or yarn.lock if you prefer not to commit these
# package-lock.json
# yarn.lock

